html {
  box-sizing: border-box;
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"),
    url("../fonts/roboto-v20-latin_cyrillic-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin_cyrillic-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-regular - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/raleway-v17-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/raleway-v17-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-700 - latin_cyrillic */
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/raleway-v17-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/raleway-v17-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #757575;
}

.link,
.web-studio {
  text-decoration: none;
}

.link,
.web-studio {
  display: block;
}

.web-studio {
  padding-top: 24px;
  padding-bottom: 25px;
}

.navigation-list-link,
.header-tel-link,
.header-mail-link {
  padding-top: 32px;
  padding-bottom: 32px;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.navigation-list {
  display: flex;
}

.navigation {
  display: flex;
  align-items: center;
}
.web-studio {
  margin-right: 85px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-mail-link {
  margin-right: 30px;
}

.header-utils {
  display: flex;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}

.header-mail-link,
.header-tel-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.modal-btn {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  margin-top: 30px;
}

.modal-btn:hover,
.modal-btn:focus {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}

.web-studio,
.web-studio-element {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.web-studio {
  color: #000000;
}

.web-studio-element {
  color: #2196f3;
}

.title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

/* Main */

.main-title {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.main {
  padding-top: 200px;
  padding-right: 452px;
  padding-bottom: 280px;
  padding-left: 452px;
  text-align: center;
  background-color: #2f303a;
  flex-grow: 1;
}

/* features */

.features,
.our-works,
.our-team,
.regular-customer,
.footer {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.feature-subtitle,
.description,
.work-title,
.team-title,
.customer-title {
  font-style: normal;
  font-weight: bold;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
}

.features {
  margin-top: 94px;
}

.feature-list,
.feature-description {
  display: flex;
  padding-left: 0px;
  justify-content: space-between;
  width: 270px;
}

.feature-subtitle {
  height: 16px;
}

.description {
  height: 75px;
}
.features-image {
  background-color: #f5f4fa;
  border-radius: 4px;
  padding-top: 25px;
  padding-right: 100px;
  padding-bottom: 25px;
  padding-left: 100px;
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.description {
  text-align: center;
  color: #ffffff;
}

.feature-subtitle {
  text-transform: uppercase;
}

/* Our web-work*/

.works-list {
  display: flex;
  padding-left: 0px;
  justify-content: space-between;
}

.work-title {
  margin-top: 94px;
}

.works-list-item:not(:last-child) {
  margin-right: 30px;
}

.our-works-list {
  margin-top: 50px;
}

.description {
  padding-top: 27px;
  padding-right: 82px;
  padding-bottom: 27px;
  padding-left: 82px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.work-images {
  width: 370px;
  height: 294px;
  margin-bottom: 94px;
}

.work-title,
.team-title,
.customer-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.feature-description {
  font-weight: normal;
  line-height: 1.71;
  color: #757575;
}

/* Our team*/

.team-list,
.description-team {
  font-style: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list {
  font-weight: 500;
  /* identical to box height */
  color: #212121;
}

.description-team {
  font-weight: normal;
  /* identical to box height */
  color: #757575;
}

.team-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  width: 1170px;
  height: 422px;
  padding-left: 215px;
  padding-right: 215px;
  padding-bottom: 94px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
}

.social-list:not(:last-child) {
  margin-right: 10px;
}

.subtitle-team {
  margin-top: 30px;
}

.description-team {
  margin-top: 10px;
}

.social-list {
  margin-top: 16px;
}

.our-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  width: 1600px;
  height: 702px;
}

.team-title {
  padding-bottom: 50px;
}

.our-team-descripton:not(:last-child) {
  margin-right: 30px;
}

/* Work-btn */

.work-btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.work-btn:hover,
.work-btn:focus {
  background: #2196f3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: #ffffff;
}

/* Work */

.samples-description {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.samples-subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

/* Footer */

.footer-adress,
.footer-mail,
.footer-tel,
.join {
  font-style: normal;
  font-weight: normal;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-adress,
.join {
  color: #ffffff;
}

.join {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.footer .container {
  display: flex;
}
